<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Valuta</title>
</head>

<body class="container-sm vh-100" id="body">

<%- include('./panes/toast.ejs') %>

<div class="d-flex flex-column justify-content-between h-100">
    <div><%- include('./panes/header.ejs') %>

        <div class="tab-content" id="nav-tabContent">
            <%- include('./panes/homePage.ejs') %>

            <%- include('./panes/detail.ejs') %>

            <%- include('./panes/editPage.ejs') %>

            <%- include('./panes/searchPage.ejs') %>

            <%- include('./panes/settingsPage.ejs') %>
        </div>
    </div>
    <%- include('./panes/footer.ejs') %>
</div>
</body>
</html>