<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
     tabindex="0">
    <form>
        <div class="mb-3">
            <label for="AddValutaName" class="form-label">Name</label>
            <input type="text" class="form-control" id="AddValutaName" aria-describedby="name">
        </div>
        <div class="container mb-3 p-0">
            <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                <div class="col">
                    <label for="AddValutaISO4217" class="form-label">ISO4217</label>
                    <input type="text" class="form-control" id="AddValutaISO4217" aria-describedby="ISO4217">
                </div>
                <div class="col">
                    <label for="AddValutaDateOfCreation" class="form-label">Date of Creation</label>
                    <input type="date" class="form-control" id="AddValutaDateOfCreation"
                           aria-describedby="Creation Date">
                </div>
                <div class="col">
                    <label for="AddValutaContinent" class="form-label">Continent</label>
                    <select class="form-select" aria-label="Default select example" id="AddValutaContinent">
                        <option selected value="EUROPE">Europe</option>
                        <option value="AFRICA">Africa</option>
                        <option value="ASIA">Asia</option>
                        <option value="NORTH_AMERICA">North America</option>
                        <option value="SOUTH_AMERICA">South America</option>
                        <option value="ANTARCTICA">Antarctica</option>
                        <option value="OCEANIA">Oceania</option>
                    </select>
                </div>
                <div class="col">
                    <label for="AddValutaPriceKgGold" class="form-label">Price of a Kg gold</label>
                    <input type="number" class="form-control" id="AddValutaPriceKgGold"
                           aria-describedby="Price Kg Gold">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="AddValutaImageUrl" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="AddValutaImageUrl"
                   aria-describedby="Price Kg Gold">
        </div>
    </form>
    <button id="AddValutaButton" type="submit" class="btn btn-primary">Submit</button>
</div>