<div class="tab-pane pane-locator fade" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab" tabindex="0">

    <div class="CardContainer d-flex flex-row flex-wrap gap-3">
        <div class="card mb-3" style="width: 40rem;">
            <div class="row g-0">
                <div class="col-md-4"><img id="DetailImg" class="img-fluid rounded-start"
                                           src="https://i.pinimg.com/originals/94/8c/36/948c367d34fca94e28c3b7970f9fbefb.jpg"
                                           alt="Photo currencies"></div>
                <div class="col-md-8">
                    <div class="card-body"><h5 id="DetailCurrencyName" class="card-title">Unknown</h5>
                        <table class="table table-light table-striped-columns">
                            <tbody class="">
                            <tr class="">
                                <th class="" scope="row">ISO4217</th>
                                <td id="DetailCurrencyISO4217" class="">XXX</td>
                            </tr>
                            <tr class="">
                                <th class="" scope="row">Creation Date</th>
                                <td id="DetailCreationDate" class="">Unknown</td>
                            </tr>
                            <tr class="">
                                <th class="" scope="row">Continent</th>
                                <td id="DetailContinent" class="">Unknown</td>
                            </tr>
                            <tr class="">
                                <th class="" scope="row">Price Kg Gold</th>
                                <td id="DetailPriceKgGold" class="">0</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <table class="table w-auto visually-hidden " id="detailTable">
            <thead>
            <tr>
                <th scope="col">Country</th>
                <th scope="col">Population</th>
                <th scope="col">Is democratic</th>
            </tr>
            </thead>
            <tbody id="DetailTableBody">
            </tbody>
        </table>
        <div class="text-warning mt-xl-3 h5" id="noCountriesDiv">
            No Countries use this currency.
        </div>
    </div>
    <button id="EditButton" type="submit" class="btn btn-primary">Edit</button>
</div>