<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
     tabindex="0">
    <div class="mb-3 mt-3">
        <span id="EditId" class="form-label visually-hidden">Id: 0</span>
    </div>
    <form>
        <div class="mb-3">
            <label for="EditValutaName" class="form-label">Name</label>
            <input type="text" class="form-control" id="EditValutaName" aria-describedby="name">
        </div>

        <div class="container mb-3 p-0">
            <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1">
                <div class="col">
                    <label for="EditValutaISO4217" class="form-label">ISO4217</label>
                    <input type="text" class="form-control" id="EditValutaISO4217" aria-describedby="ISO4217">
                </div>
                <div class="col">
                    <label for="EditValutaDateOfCreation" class="form-label">Date of Creation</label>
                    <input type="date" class="form-control" id="EditValutaDateOfCreation"
                           aria-describedby="Creation Date">
                </div>
                <div class="col">
                    <label for="EditValutaContinent" class="form-label">Continent</label>
                    <select class="form-select" aria-label="Default select example" id="EditValutaContinent">
                        <option selected value="EUROPE">Europe</option>
                        <option value="AFRICA">Africa</option>
                        <option value="ASIA">Asia</option>
                        <option value="NORTH_AMERICA">North America</option>
                        <option value="SOUTH_AMERICA">South America</option>
                        <option value="ANTARCTICA">Antarctica</option>
                        <option value="OCEANIA">Oceania</option>
                    </select>
                </div>
                <div class="col">
                    <label for="EditValutaPriceKgGold" class="form-label">Price of a Kg gold</label>
                    <input type="number" class="form-control" id="EditValutaPriceKgGold"
                           aria-describedby="Price Kg Gold" min="0">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="EditImageUrl" class="form-label">Image URL</label>
            <input type="text" value="" disabled class="form-control" id="EditImageUrl">
        </div>
    </form>
    <button type="submit" class="btn btn-primary" id="EditValutaButton">Submit</button>
    <button class="btn btn-primary" id="EditDeleteButton">Delete</button>
</div>