<div class="tab-pane pane-locator fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab" tabindex="0">
    <br>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" aria-controls="pills-home" aria-selected="true">Edit Valuta
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Add Valuta
            </button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <%- include('./editForm.ejs') %>
        <%- include('./addForm.ejs') %>
    </div>
</div>