<header>
    <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            <button class="nav-link pill-locator active" id="nav-home-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home
            </button>
            <button class="nav-link pill-locator" id="nav-detail-tab" data-bs-toggle="tab" data-bs-target="#nav-detail"
                    type="button" role="tab" aria-controls="nav-detail" aria-selected="false">Detail
            </button>
            <button class="nav-link pill-locator" id="nav-edit-tab" data-bs-toggle="tab" data-bs-target="#nav-edit"
                    type="button" role="tab" aria-controls="nav-edit" aria-selected="false">Edit
            </button>
            <button class="nav-link pill-locator" id="nav-search-tab" data-bs-toggle="tab" data-bs-target="#nav-search"
                    type="button" role="tab" aria-controls="nav-search" aria-selected="false">Search
            </button>
            <button class="nav-link pill-locator" id="nav-settings-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-settings"
                    type="button" role="tab" aria-controls="nav-settings" aria-selected="false">Settings
            </button>
        </div>
    </nav>
</header>