<div class="tab-pane pane-locator fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
     tabindex="0">
    <div class="CardContainer d-flex flex-wrap justify-content-center align-items-center h-100 gap-3">
    </div>
</div>