<div class="tab-pane  pane-locator fade" id="nav-search" role="tabpanel" aria-labelledby="nav-search-tab" tabindex="0">
    <label class="h4" for="Search">Search</label>
    <input id="Search" type="text" class="form-control">
    <div class="table-responsive-sm">
        <table class="table caption-top table-hover">
            <caption>Valutas</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ISO4217</th>
                <th scope="col">name</th>
                <th scope="col">Creation date</th>
                <th scope="col">Continent</th>
                <th scope="col">Price Kg Gold</th>
            </tr>
            </thead>
            <tbody id="searchTbody">

            </tbody>
        </table>
    </div>
</div>