<div class="tab-pane  pane-locator fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab"
     tabindex="0">
    <label for="BackgroundColorSelect" class="form-label">Background color</label>
    <select class="form-select" aria-label="Default select example" id="BackgroundColorSelect">
        <option class="bg-blue" selected value="bg-blue">Blue</option>
        <option class="bg-secondary" value="bg-secondary">Gray</option>
        <option class="bg-success" value="bg-success">Green</option>
    </select>
    <label for="FontSizeSelect" class="form-label">Font size</label>
    <select id="FontSizeSelect" class="form-select" aria-label="fontsize">
        <option class="fs-6" selected value="fs-6">Normal</option>
        <option class="fs-5" value="fs-5">Large</option>
        <option class="fs-3" value="fs-3">XLarge</option>
        <option class="fs-1" value="fs-1">XXLarge</option>
    </select>
</div>