<div class="toast-container position-fixed top-0 end-0 p-3 text-black  ">
    <div id="livetoast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div id="alert" class="toast-body">
                Toast
            </div>
        </div>
    </div>
</div>