@use "variables" as *;
@use "mixins" as mx;

.bg-blue {
  background: $palette-blue;
}

//text
$text-light: $palette-yellow;

//Navigatie
$nav-link-color: $palette-yellow;
$nav-tabs-border-color: $palette-yellow;
$nav-tabs-link-hover-border-color: $palette-yellow;
$nav-tabs-link-active-border-color: $palette-yellow;
$nav-tabs-link-active-bg: $palette-orange;
$nav-pills-link-active-bg: $palette-orange;
$nav-link-hover-color: $palette-orange;
$nav-tabs-link-active-color: $palette-white;
$nav-pills-link-active-color: $palette-white;

//cards
$list-group-color: $palette-orange;
$card-border-color: $palette-yellow;
$list-group-border-color: $palette-yellow;
$card-color: $palette-yellow;
$card-bg: $palette-white;
$list-group-bg: $palette-white;

//variables
$form-check-input-bg: $palette-yellow;
$input-border-color: $palette-yellow;
$form-check-label-color: $palette-yellow;
$form-label-color: $palette-yellow;
$form-check-input-checked-bg-color: $palette-orange;
$input-color: $palette-orange;
$form-check-input-checked-color: $palette-white;
$input-bg: $palette-white;
$primary: $palette-orange; // button

//table variables
$table-color: $palette-orange;
$table-hover-bg: $palette-orange;
$table-border-color: $palette-yellow;
$table-bg: $palette-white;
$table-hover-color: $palette-white;

footer {
  border-top: solid 2px $palette-yellow;
  color: $palette-orange;
}

.CardContainer {
  @include mx.smallPicture
}

@import "~bootstrap/scss/bootstrap";